@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background: linear-gradient(
    to bottom right,
    rgba(0, 47, 75, 0.6),
    rgba(220, 66, 37, 0.6)
  );
  display: flex;
  margin: 0px;
  background-color: #9191918f;
  color: #0f141e;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.content-layout {
  margin-left: 44px;
  width: 100%;
  z-index: 2;
}

.content {
  margin: auto;
  max-width: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: darkorange;
}

a:visited {
  color: rgb(0, 17, 250);
}

.avatar {
  width: 250px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0 25);
}

.info {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  }
}

.info-text {
  margin-left: 40px;
  max-width: 700px;
}

.info-text h1 {
  margin-bottom: 10px;
}

.info p {
  color: rgb(175, 93, 0);
  margin-top: 15px;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

/*Box model */
.container {
  max-width: 750px;
  margin: 0px;
  padding-top: 30px;
}

.message-container {
  margin-top: 0px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

td,
th {
  border: 1px solid rgb(255, 0, 0);
  padding: 10px;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(252, 4, 4);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
}

.bg-yellow {
  background: #fff9dc;
}
.bg-green {
  background: #e5ffe7;
}
.bg-red {
  background: #ffe5e5;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.list {
  padding: 0 20px;
}

.list li {
  color: indigo;
  margin-bottom: 10px;
}

.link-list {
  list-style: url("https://ik.imagekit.io/jfqvdpvwj/bug_2");
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
}

.contact h2 {
  text-align: center;
}

.form-group label {
  color: rgb(0, 0, 0);
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-right: 20px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.animated-list-image {
  z-index: 1;
  font-size: 10px;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.custom-btn {
  width: 200px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-13 {
  background-color: #ffc422;
  background-image: linear-gradient(315deg, #00eeff 0%, #00eeff 74%);
  border: none;
  z-index: 1;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: darkgoldenrod;
  background-image: linear-gradient(315deg, #ffc13c 0%, #ffd900 74%);
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-13:hover {
  color: #000000;
}
.btn-13:hover:after {
  top: 0;
  height: 100%;
}
.btn-13:active {
  top: 2px;
}

.button {
  text-align: center;
  margin-top: 5px;
}

/* lEFT PANEL  */
.sidebar {
  position: fixed;
  width: 44px;
  z-index: 2;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #ffffff;
  transition: ease-in-out 0.3s;
  overflow: hidden;
}

.sidebar:hover {
  width: 200px;
}

.sidebar:hover > .item > .text {
  opacity: 1;
}

.hr {
  height: 1px;
  color: #919191;
  margin: 15px 0;
}
.item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.item .icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #424242;
}

.item .text {
  opacity: 0;
  transition: ease-in-out 0.3s;
  transition-delay: 0.2s;
  margin-left: 15px;
  white-space: nowrap;
}
